@charset "UTF-8";

html{
    font-family: 'Bai Jamjuree', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

h1{
    color: hsl(210, 10%, 33%);
    padding: 1.7em 3vh 0em;
    font-size: clamp(2.3rem, 1.5vw, 2.5rem); 
}
h2, h3, h4, h5{
    color: hsl(210, 10%, 33%);
    padding: 1.7em 3vh 0em;
    margin-bottom: 0;
    font-size: clamp(1.8rem, 1.5vw, 2.3rem); 
}

p{
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    font-size: clamp(1.1rem, 1vw, 1.5rem); 
    padding: .3em 3vh .8em;
}

a{
    font-size: clamp(1rem, 1vw, 1.3rem);  
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: 3s color cubic-bezier(0.075, 0.82, 0.165, 1);
    color: red;
}

ul:hover{
    color: hsl(171, 69%, 53%);
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.devices{
    display: inline-block;
    width: 80%;
    height: 80%;
    margin: 2em 0em 2.5em;
}

.button{
    padding: 15px 50px;
    font-size: 0.8;
    border-radius: 30px;
    color: white;
    margin: 0.6em 0;
    font-size: 1.1em;
    text-decoration: none;
    box-shadow: inset rgba(0, 0, 0, 0.19) 0px -10px 20px, inset rgba(0, 0, 0, 0.23) 0px -6px 6px, rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.button:last-child{
    margin-bottom: 5em;
}

.button-green{
    background-color: hsl(171, 66%, 44%);
    transition: 1s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-green:hover{
    background-color: hsl(171, 69%, 53%);
}
.button-blue{
    background-color: hsl(233, 100%, 69%);
    transition: 1s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-blue:hover{
    background-color: hsl(233, 76%, 52%);
}

.main-header{
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 6em;
}
.main-header img{
    width: 130px;
    height: 130px;
}

.list-info article{
    margin-bottom: 3em;
    display: inline-block;
}

.list-flex article:nth-child(1) img, .list-flex article:nth-child(2) img{
    width: 56.94px;
    height: 50.63px;
}

.list-flex article:nth-child(3) img{
    width: 79.09px;
    height: 50.63px;
}

.logos{
    margin: 3em 0;
}
.logos img{
    padding: 3em;
}
.logos img:nth-child(1){
    width: 165px;
    height: 49px;
}
.logos img:nth-child(2){
    width: 139px;
    height: 51px;
}
.logos img:nth-child(3){
    width: 161px;
    height: 35px;
}
.logos img:nth-child(4){
    width: 135px;
    height: 56px;
}
.logos img:nth-child(5){
    width: 125px;
    height: 30px;
}

.help-tab li{
    padding: 0.5em;
}

.footer{
    text-align: center;
    padding: 3em 3em 0;
    background: hsl(220, 18%, 97%)
}
.footer a{
    color: hsl(210, 10%, 33%);
    text-decoration: none;
    transition: 1s color cubic-bezier(0.075, 0.82, 0.165, 1);
}
.footer a:hover{
    color: hsl(171, 69%, 53%);
}
.footer img{
    width: 60px;
    height: 60px;
    margin-bottom: 2em;
}

.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.8em 1em;
    flex-flow: row wrap;
}
.footer-icons li{
    margin: 0em 1em;
}
.footer-icons a{
    font-size: 1.8em;
}

/* media queries */
@media screen and (min-width: 80em){ /* 1280 / 16 */

    p{
        padding: .3em clamp(200px, 25vw, 600px) .8em;
    }
    .main-header{
        background-image: url(/images/bg-header-desktop.png);
    }

    .flex{
        flex-flow: row nowrap;
    }
    .button:last-child{
        margin: 0.5em 0.8em;
    }
    .button:last-child, .button:first-child{
        margin-bottom: 10em;
    }

    .devices{
        width: 50%;
        height: 50%;
    }
    .devices:last-child{
        margin: 4em 0 0 0;
    }

    .main-div{
        margin-top: 3em;
    }
    .main-div img{
        margin-left: -2.8em;
    }
    .flex-keepTrack{
        display: flex;
    }
    .flex-keepTrack div{
        justify-content: center;
        text-align: left;
        align-items: center;
        flex-flow: column nowrap;
        padding: 50px 0 0 150px;
        width: 500px;
        height: 500px;
    }

    .flex-keepTrack h3{
        padding: .5em max(10%) 0 0;
    }
    .flex-keepTrack p{
        padding: 0em;
        padding: .5em max(10%) .8em 0;
    }

    .list-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        gap: 3em;
    }
    .list-flex article{
        width: 18.75em;
        height: 18.75em;
        margin: 0;
    }
    .list-flex p{
        margin: 0;
        padding: 0;
    }

    .footer{
        padding-top: 20px;
    }

    .footer-icons {
        padding: 0 0 0 2em;
    }
    .footer-icons a{
        font-size: 25px;
    }

    .help-tab{
        height: 100px;
    }
    .help-grid{
        display: grid;
        grid-template-columns: 200px 550px 350px;
        grid-template-rows: repeat(1,1fr);
        align-items: center;
        justify-content: center;
    }
    .help-grid img{
        margin: 0;
        margin-left: 20px;
    }
    
    .help-tab{
        flex-flow: column wrap;
        align-items: flex-start;
        align-items: right;
    }
    .help-tab li:last-child{
        height: 58.38px;
    }
}

.attribution{ 
    font-size: 18px; 
    text-align: center; 
    margin: 0;
    padding: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: 18px;
}